@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #d4d4d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #d4d4d4;
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
